.navbar {
    background: #008f53;
}

.navbar-brand {
    color:#fff!important;
}

.nav-text {
    color: #fff;
}

footer {
    background:#f3f3f3;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
